<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快送小帮入驻</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/enter_provider/css/provider.css">
</head>
<body>
<div class="container">
    <div class="enter-provider-header">
        <img src="/static/enter_provider/img_banner_2.png" alt="">
    </div>
    <div align="left" class="provider-font">
        <h3>快送小帮入驻条件：</h3>
        <p>1、18-45岁左右，品行端正，男女不限；</p>
        <p>2、自备一辆电动车/摩托车，一部智能手机即可上岗！</p>
        <p>3、三证齐全，且接受过专业安全培训，对毛爷爷无比忠诚；</p>
        <p>4、有无经验均可（我们只看你是否有意愿）；</p>
        <p>5、学历不是你的硬指标（我们只看能力，只认付出）；</p>
        <p>6、喜欢与人交流。</p>
    </div>

    <div class="provider_footer">
        <div align="center" class="footer-button">
            <a href="http://android.myapp.com/myapp/detail.htm?apkName=com.wybb.business">
                <button class="button button-block button-positive" style=" outline:0;">下载无忧帮帮小帮版</button>
            </a>
        </div>
        <div align="center"><p>有任何疑问请 <a href="tel:4001355188">联系客服</a> 咨询</p></div>
</div>
</div>
</body>
</html>