<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>加入我们</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/enter_provider/css/provider.css">
</head>
<body>
<div class="container">
    <div class="enter-provider-header">
        <img src="/static/enter_provider/img_header.jpg" alt="">
    </div>
    <div class="line">
        <b></b>
        <h1>小帮招募</h1>
        <b></b>
    </div>
    <div align="center"><p>工作自由、薪酬丰厚、前景广阔</p></div>
    <div class="provider-image">
        <a href="<?= $trip_apply_url ?>">
            <img src="/static/enter_provider/btn_join_1.png" alt="" style="float:left">
        </a>
        <a href="<?= $errand_apply_url ?>">
            <img src="/static/enter_provider/btn_join_2.png" alt="" style="margin-left: 5%;">
        </a>
    </div>
    <div class="provider_footer" >
        <div align="center"><p>有任何疑问请 <a href="tel:4001355188">联系客服</a> 咨询</p></div>
    </div>
</div>
</body>
</html>